$primary: #11998e;
$secondary: #38ef7d;

.end-message{
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.form-container {
  padding-top: 50px;
  .contact-form {
    padding: 25px;
    text-align: center;
    font-size: 18px;
  }
  .contact-title{
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 0px;
  }
 #submit-message{
   padding-bottom: 25px;
 }
  .input-box {
    box-sizing: border-box;
    min-width: 100%;
    padding: 10px;
    margin: 0 0 25px;
    width: 100%;
    border-radius: 2px; /*Rounded corners*/
    border: none;
    border-bottom: 1px solid grey;
    resize: vertical; //Input form can only resize vertically
    font-size: 20px;
  }
  .input-box:focus {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    //font-weight: 700;

    border-image: linear-gradient(to right, $primary,$secondary);
    border-image-slice: 1;
    outline: none;
  }

  .input-button-span {
    display: flex;
    justify-content: center;
  }
  .input-button {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    padding: 0.7em 1.7em;
    border-bottom: 4px solid #000000;
    padding-top: 15px;
    color: #ffffff;
    background-color: black;
    text-align: center;
    -webkit-transition: all 0.7s ease;
   transition: all 0.7s ease;
     letter-spacing: 0.5px;
    cursor: pointer;
  }
  .input-button:hover {
   -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease 0s;
    background-color: white;
    color: black;
    border-top: 2px white solid;
    border-left: 2px white solid;
    border-right: 2px white solid;
  }
}
