.page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container {
    width: 80%;
    height: 55%;
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 25px;
    padding: 25px;
    background: whitesmoke;
    margin-bottom: 25px;

    .title-and-question {
      display: flex;
      flex-direction: column;
      padding-right: 15px;
      width: 100%;
      height: 100%;
      text-align: left;

      .title {
        font-size: 20px;
        padding: 0;
        margin: 0;
      }

      .question {
        justify-content: center;
        align-items: center;
        font-weight: 700;
      }
    }

    .answers {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;

      .btn {
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 25px;
        font-size: 20px;
        border: 1px solid rgb(146, 148, 248);
        position: relative;
        overflow: hidden;
        height: 20%;
        outline: none;
        background: #d14836;
        color: white;
      }
    }
  }

  .btn:hover {
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
  }

  .btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(146, 148, 248, 0.4),
      transparent
    );
    transition: all 650ms;
  }

  .btn:hover:before {
    left: 100%;
  }
}
